<h1>Listing log_items</h1>

<table>
  <tr>
    <th>Goal</th>
    <th>Comment</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @log_items.each do |log_item| %>
  <tr>
    <td><%= log_item.goal.name %></td>
    <td><%= log_item.comment %></td>
    <td><%= log_item.score %></td>
    <td><%# link_to 'Show', goal_log_item_path(@goal, log_item) %></td>
    <td><%# link_to 'Edit', edit_log_item_path(log_item) %></td>
    <td><%# link_to 'Destroy', log_item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New Log item', new_log_item_path %>
